<div id="accountModal"  uk-modal>
    <div id="main_body" class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Ups...</h2>
        <p>It seems like you don´t have an account, yet. Would you like to create one now?</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" id="createAccountConfirmation" type="button">Sure</button>
        </p>
    </div>

</div>