<div uk-grid="" class="uk-child-width-auto uk-grid-medium uk-flex-inline uk-flex-center uk-grid" style="padding-left: 16px">
	<div class="uk-first-column">
		<a href="#signup_Modal" onclick="return false;" class="uk-button uk-button-primary tm-button-primary" uk-toggle>
			<span uk-icon="icon: user" class="uk-margin-small-right uk-icon"></span>
			<span class="uk-text-middle">sign up</span>
		</a>
	</div>

	<div style="padding-left: 24px">
		<a href="download" class="uk-button uk-button-default tm-button-default">
			<span uk-icon="icon: cloud-download" class="uk-margin-small-right uk-icon"></span>
			<span class="uk-text-middle">download</span>
		</a>
	</div>
</div>
